<a href="https://colab.research.google.com/github/Yash-Malani-Rick/DATA-SCIENCE-COURSE-BY-CAMPUSX/blob/master/SESSION05DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1) Tuples In Python : -

A tuple in Python is an ordered, immutable collection of elements that can store multiple data types.
Unlike lists, tuples cannot be modified (no adding, deleting, or changing elements once created).




---

Syntax : -

* Tuples are defined using parentheses () or the tuple() constructor.

* A single-element tuple must have a trailing comma (e.g., (5,)), otherwise Python treats it as an integer.

```
tuple_name = (element1, element2, element3, ...)

```



---

Characteristics of Tuples : -

* Ordered → Elements are stored in the same order as inserted.

* Immutable → Elements cannot be changed after creation.

* Heterogeneous → Can store different data types in the same tuple.

* Index-based Access → Access elements using indices (0-based).

*  Allow duplicates → Can contain repeated values.

* Faster than lists → Tuples are memory-efficient and faster compared to lists.



---

Creating Tuples : -

In [21]:
# Example for Creating a Tuple :

# Empty tuple
t1 = ()

# Tuple with multiple data types
t2 = (1, "Python", 3.14)

# Tuple without parentheses (tuple packing)
t3 = 10, 20, 30

# Single element tuple (must have comma)
t4 = (5,)

# Using tuple constructor
t5 = tuple([1, 2, 3])



---

Accessing Elements In a Tuple :

In [22]:
# code to access elements in a Tuple :

my_tuple = (10, 20, 30, 40)

print(my_tuple[0])    # Access first element → 10
print(my_tuple[-1])   # Access last element → 40
print(my_tuple[1:3])  # Slicing → (20, 30)

10
40
(20, 30)



---

Operations on Tuples :

| Operation           | Description                           | Example                          |
| ------------------- | ------------------------------------- | -------------------------------- |
| Concatenation (`+`) | Combines two tuples                   | `(1, 2) + (3, 4) → (1, 2, 3, 4)` |
| Repetition (`*`)    | Repeats tuple elements                | `("a",) * 3 → ('a', 'a', 'a')`   |
| Membership (`in`)   | Checks if element exists              | `3 in (1,2,3) → True`            |
| Iteration (`for`)   | Loops through elements                | `for i in t: print(i)`           |
| Length (`len()`)    | Counts elements                       | `len((1,2,3)) → 3`               |
| Index (`index()`)   | Finds first occurrence of a value     | `(1,2,3,2).index(2) → 1`         |
| Count (`count()`)   | Counts how many times a value appears | `(1,2,2,3).count(2) → 2`         |



---

Nesting Tuples : -

* Tuples can contain other tuples(or lists) as elements .

In [23]:
# Code for Tuples Nesting :

nested = (1, (2, 3), (4, (5, 6)))
print(nested[1][1])  # Output: 3

3



---

Tuple Packing And Unpacking : -

In [24]:
# Example for Tuple Packing and UnPacking : -

# Packing
t = 1, "Python", 3.5

# Unpacking
a, b, c = t
print(a)  # 1
print(b)  # Python
print(c)  # 3.5

1
Python
3.5



---

Conversion Between Lists and Tuples : -

In [25]:
# Code for Conversion in Between Lists and Tuples :

# Tuple to list
t = (1, 2, 3)
lst = list(t)

# List to tuple
new_tuple = tuple(lst)



---

Functions on Tuples : -

| **Function**          | **Description**                                        | **Theory**                                   |
| --------------------- | ------------------------------------------------------ | -------------------------------------------- |
| **`len(tuple)`**      | Returns the **number of elements** in a tuple.         | Counts total items, including duplicates.    |
| **`max(tuple)`**      | Returns the **largest element** in the tuple.          | Works if elements are of the same data type. |
| **`min(tuple)`**      | Returns the **smallest element** in the tuple.         | Works for numeric or alphabetical data.      |
| **`sum(tuple)`**      | Returns the **sum of all elements**.                   | Works only for numeric tuples.               |
| **`tuple(iterable)`** | Converts an iterable (list, string, set) into a tuple. | Creates a tuple from any iterable sequence.  |




---


| **Method**         | **Description**                                                | **Theory**                                       |
| ------------------ | -------------------------------------------------------------- | ------------------------------------------------ |
| **`count(value)`** | Returns the **number of occurrences** of a value in the tuple. | Searches the entire tuple and counts matches.    |
| **`index(value)`** | Returns the **first index** where the value appears.           | Raises a `ValueError` if the value is not found. |


---

| **Operation**                   | **Description**                           | **Theory**                                  |
| ------------------------------- | ----------------------------------------- | ------------------------------------------- |
| **Membership (`in`, `not in`)** | Checks if an element exists in the tuple. | Returns `True` or `False`.                  |
| **Concatenation (`+`)**         | Joins two tuples into one.                | Creates a new tuple with combined elements. |
| **Repetition (`*`)**            | Repeats tuple elements multiple times.    | Useful for creating repeated patterns.      |



---

Differences between Lists and Tuples : -

| **Feature**           | **Lists**                                                              | **Tuples**                                                                 |
| --------------------- | ---------------------------------------------------------------------- | -------------------------------------------------------------------------- |
| **Definition**        | Ordered, **mutable** collection of elements.                           | Ordered, **immutable** collection of elements.                             |
| **Syntax**            | Defined using **square brackets `[]`**.                                | Defined using **parentheses `()`**.                                        |
| **Mutability**        | Elements can be **added, removed, or modified**.                       | Elements **cannot be changed** after creation.                             |
| **Methods Available** | Many built-in methods (e.g., `append()`, `remove()`, `insert()`).      | Fewer built-in methods (`count()`, `index()`).                             |
| **Performance**       | **Slower** than tuples due to mutability and overhead.                 | **Faster** because of immutability and fixed size.                         |
| **Memory Usage**      | **More memory** is used compared to tuples.                            | **Less memory** is used, making them more efficient.                       |
| **Data Types**        | Can store **heterogeneous data types**.                                | Can also store **heterogeneous data types**.                               |
| **Iteration Speed**   | **Slower** compared to tuples.                                         | **Faster**, suitable for read-only operations.                             |
| **Hashable**          | **Not hashable**, cannot be used as dictionary keys.                   | **Hashable**, can be used as dictionary keys if all elements are hashable. |
| **Use Case**          | When you need a **dynamic collection** that can be updated frequently. | When you need a **fixed, read-only collection** of data.                   |



---

Zip Functions On Tuples : -

* The zip() function works the same way for tuples as it does for lists—it combines multiple iterables (including tuples) into a single iterator of tuples, pairing elements based on their position.



---

Syntax : -



```
zip(iterable1, iterable2, ..., iterableN)

```

* Works with tuples, lists, sets, or mixed iterables.

* Stops when the shortest iterable is exhausted.

Using zip() with Tuples :

In [26]:
# Zipping Two Tuples :

tuple1 = (1, 2, 3)
tuple2 = ('a', 'b', 'c')

result = zip(tuple1, tuple2)
print(tuple(result))

# Zipping Multiple Tuples :

t1 = (10, 20)
t2 = (30, 40)
t3 = (50, 60)

print(tuple(zip(t1, t2, t3)))

# Different Length Tuples :

t1 = (1, 2, 3, 4)
t2 = ('a', 'b')

print(list(zip(t1, t2)))

# Using 'zip()' to create a dictionary :

keys = ('name', 'age', 'city')
values = ('Alice', 25, 'London')

my_dict = dict(zip(keys, values))
print(my_dict)

# Unzipping Tuples :

zipped = ((1, 'a'), (2, 'b'), (3, 'c'))
num, char = zip(*zipped)
print(num)   # (1, 2, 3)
print(char)  # ('a', 'b', 'c')

((1, 'a'), (2, 'b'), (3, 'c'))
((10, 30, 50), (20, 40, 60))
[(1, 'a'), (2, 'b')]
{'name': 'Alice', 'age': 25, 'city': 'London'}
(1, 2, 3)
('a', 'b', 'c')



---

Key Words About zip() with Tuples :

* Works identically as with lists.

* Produces an iterator of tuples.

* Can be converted into tuple, list, or dictionary.

* Stops when the shortest iterable ends.

* Supports unzipping using * operator.



---

Summary of Tuples : -

| Feature                | Description                               |
| ---------------------- | ----------------------------------------- |
| **Immutable**          | Elements cannot be changed after creation |
| **Ordered**            | Maintains insertion order                 |
| **Heterogeneous**      | Supports multiple data types              |
| **Index-based**        | Supports indexing and slicing             |
| **Duplicates allowed** | Yes                                       |
| **Faster than list**   | Uses less memory and is faster            |



---

# 2) Sets In Python : -



---

* A set in Python is an unordered, unindexed, mutable collection of unique elements.

* Sets are similar to mathematical sets and are mainly used to perform set operations like union, intersection, difference, etc.

* Duplicates are automatically removed from a set.



---

Key Characteristics of Sets : -

| **Characteristic**     | **Description**                                  |
| ---------------------- | ------------------------------------------------ |
| **Unordered**          | Elements have no fixed order.                    |
| **Mutable**            | Elements can be added or removed.                |
| **Unique Elements**    | No duplicates are allowed.                       |
| **Heterogeneous Data** | Can store different data types.                  |
| **Indexing**           | Not supported (cannot access elements by index). |
| **Iterable**           | Can be used in loops and iterators.              |



---

Creating Sets : -

In [27]:
# Creating a set
my_set = {1, 2, 3, 4}

# Creating set using set() constructor
another_set = set([1, 2, 2, 3, 4])   # duplicates are removed
print(another_set)  # Output: {1, 2, 3, 4}

# Empty set (must use set(), {} creates dictionary)
empty_set = set()

# Mixed data types
mixed_set = {1, "Python", 3.14, True}
print(mixed_set)

{1, 2, 3, 4}
{1, 3.14, 'Python'}



---

Operations On Sets : -

| **Operation**            | **Operator/Method**                                | **Description**                                          |                                              |
| ------------------------ | -------------------------------------------------- | -------------------------------------------------------- | -------------------------------------------- |
| **Union**                | \`set1                                             | set2`or`set1.union(set2)\`                               | Combines all unique elements from both sets. |
| **Intersection**         | `set1 & set2` or `set1.intersection(set2)`         | Returns elements common to both sets.                    |                                              |
| **Difference**           | `set1 - set2` or `set1.difference(set2)`           | Returns elements present in first set but not in second. |                                              |
| **Symmetric Difference** | `set1 ^ set2` or `set1.symmetric_difference(set2)` | Returns elements in either set, but not both.            |                                              |
| **Subset**               | `set1 <= set2` or `set1.issubset(set2)`            | Checks if all elements of set1 are in set2.              |                                              |
| **Superset**             | `set1 >= set2` or `set1.issuperset(set2)`          | Checks if set1 contains all elements of set2.            |                                              |
| **Disjoint Sets**        | `set1.isdisjoint(set2)`                            | Checks if both sets have no common elements.             |                                              |

In [28]:
# Code Example :

A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print(A | B)     # Union → {1, 2, 3, 4, 5, 6}
print(A & B)     # Intersection → {3, 4}
print(A - B)     # Difference → {1, 2}
print(A ^ B)     # Symmetric Difference → {1, 2, 5, 6}
print(A <= B)    # Subset → False
print(A.isdisjoint(B))  # False

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{1, 2, 5, 6}
False
False



---

Operable Functions On Sets : -

| **Function**    | **Description**                                 |
| --------------- | ----------------------------------------------- |
| **len(set)**    | Returns number of elements in set.              |
| **max(set)**    | Returns the largest element.                    |
| **min(set)**    | Returns the smallest element.                   |
| **sum(set)**    | Returns the sum of all elements (numeric only). |
| **sorted(set)** | Returns a sorted list of set elements.          |
| **set()**       | Converts an iterable into a set.                |



---

Set Methods : -

| **Method**               | **Description**                                |
| ------------------------ | ---------------------------------------------- |
| `add(x)`                 | Adds an element to the set.                    |
| `update(iterable)`       | Adds multiple elements.                        |
| `remove(x)`              | Removes an element (error if not found).       |
| `discard(x)`             | Removes element (no error if not found).       |
| `pop()`                  | Removes and returns a random element.          |
| `clear()`                | Removes all elements from set.                 |
| `copy()`                 | Returns a shallow copy of the set.             |
| `union()`                | Returns the union of sets.                     |
| `intersection()`         | Returns common elements.                       |
| `difference()`           | Returns difference of sets.                    |
| `symmetric_difference()` | Returns elements in either set, but not both.  |
| `issubset()`             | Checks if current set is subset of another.    |
| `issuperset()`           | Checks if current set is superset of another.  |
| `isdisjoint()`           | Checks if two sets have no elements in common. |



---

Adding or Removing Elements : -

In [29]:
my_set = {1, 2, 3}

my_set.add(4)          # Add single element
my_set.update([5, 6])  # Add multiple elements

my_set.remove(2)       # Remove (error if not found)
my_set.discard(10)     # Remove (no error if missing)
my_set.pop()           # Remove a random element
my_set.clear()         # Remove all elements

print(my_set)

set()



---

Frozen Set : -

* A frozen set is an immutable version of a set.

* Elements cannot be added or removed after creation.

* Useful for creating hashable sets that can be used as dictionary keys.

In [30]:
fs = frozenset([1, 2, 3])
# fs.add(4)  ❌  (will give an error)
print(fs)

frozenset({1, 2, 3})



---

Function vs Function_Update Methods : -

| **Operation**            | **Function Type (Returns New Set)** | **Function\_Update Type (Modifies Original Set)** | **Description**                                        |
| ------------------------ | ----------------------------------- | ------------------------------------------------- | ------------------------------------------------------ |
| **Union**                | `set1.union(set2)`                  | `set1.update(set2)`                               | Combines elements from both sets (removes duplicates). |
| **Intersection**         | `set1.intersection(set2)`           | `set1.intersection_update(set2)`                  | Keeps only elements common to both sets.               |
| **Difference**           | `set1.difference(set2)`             | `set1.difference_update(set2)`                    | Keeps elements in set1 but not in set2.                |
| **Symmetric Difference** | `set1.symmetric_difference(set2)`   | `set1.symmetric_difference_update(set2)`          | Keeps elements in either set but not both.             |

In [31]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

# ✅ Function Type (Returns a new set)
print(A.union(B))               # {1, 2, 3, 4, 5, 6}
print(A.intersection(B))        # {3, 4}
print(A.difference(B))          # {1, 2}
print(A.symmetric_difference(B))# {1, 2, 5, 6}

print("Original A:", A)  # A remains unchanged

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{1, 2, 5, 6}
Original A: {1, 2, 3, 4}

In [32]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

# ✅ Function Update Type (Modifies A directly)
A.update(B)
print("After update:", A)  # {1, 2, 3, 4, 5, 6}

A = {1, 2, 3, 4}
A.intersection_update(B)
print("After intersection_update:", A)  # {3, 4}

A = {1, 2, 3, 4}
A.difference_update(B)
print("After difference_update:", A)    # {1, 2}

A = {1, 2, 3, 4}
A.symmetric_difference_update(B)
print("After symmetric_difference_update:", A) # {1, 2, 5, 6}

After update: {1, 2, 3, 4, 5, 6}
After intersection_update: {3, 4}
After difference_update: {1, 2}
After symmetric_difference_update: {1, 2, 5, 6}

Summary Table : -

| **Method**                      | **Returns New Set?** | **Modifies Original Set?** |
| ------------------------------- | -------------------- | -------------------------- |
| `union()`                       | ✅                    | ❌                          |
| `update()`                      | ❌                    | ✅                          |
| `intersection()`                | ✅                    | ❌                          |
| `intersection_update()`         | ❌                    | ✅                          |
| `difference()`                  | ✅                    | ❌                          |
| `difference_update()`           | ❌                    | ✅                          |
| `symmetric_difference()`        | ✅                    | ❌                          |
| `symmetric_difference_update()` | ❌                    | ✅                          |



---

Set Comprehension : -

* Set Comprehension in Python is a concise way to create sets using a single-line expression instead of traditional loops. Similar to list comprehension, it allows you to generate a set dynamically from any iterable, applying conditions or transformations. Since sets store unique, unordered elements, duplicates are automatically removed in comprehension. It improves code readability and efficiency by reducing multiple lines of loop code into one.

In [33]:
# Basic set comprehension
nums = {x for x in range(6)}
print(nums)  # {0, 1, 2, 3, 4, 5}

# Set comprehension with condition
squares = {x**2 for x in range(10) if x % 2 == 0}
print(squares)  # {0, 4, 16, 36, 64}

{0, 1, 2, 3, 4, 5}
{0, 64, 4, 36, 16}



---

Summary : -

| **Parameter**          | **Set**                               |
| ---------------------- | ------------------------------------- |
| **Mutability**         | Mutable                               |
| **Duplicates**         | Not allowed                           |
| **Order**              | Unordered                             |
| **Indexing**           | Not supported                         |
| **Heterogeneous Data** | Allowed                               |
| **Frozen Set**         | Immutable set (read-only)             |
| **Operations**         | Union, Intersection, Difference, etc. |



---

# 3) Dictionaries in Python : -

A dictionary is a mutable, unordered collection of key-value pairs in Python. Each value is accessed using its unique key, not an index.
Dictionaries are optimized for fast data retrieval and are similar to "hash maps" in other programming languages.



---

Key Characteristics of Dictionaries : -

| **Characteristic**          | **Description**                                               |
| --------------------------- | ------------------------------------------------------------- |
| **Key-Value Pair**          | Each element has a `key: value` format.                       |
| **Mutable**                 | Elements can be added, updated, or deleted.                   |
| **Unordered** (Python 3.7+) | Maintains insertion order but no indexing like lists.         |
| **Unique Keys**             | Keys must be unique and immutable (strings, numbers, tuples). |
| **Heterogeneous Values**    | Values can be of any data type, even other dictionaries.      |



---

Creating Dictionaries : -

In [34]:
# Creating a dictionary
student = {"name": "Alice", "age": 20, "grade": "A"}

# Using dict() constructor
info = dict(city="London", country="UK")

# Empty dictionary
empty_dict = {}

# Nested dictionary
nested = {
    "student1": {"name": "Tom", "age": 18},
    "student2": {"name": "Jerry", "age": 20}
}

print(student)

{'name': 'Alice', 'age': 20, 'grade': 'A'}



---

Accessing the Elements : -

In [35]:
student = {"name": "Alice", "age": 20}

print(student["name"])        # Access using key → Alice
print(student.get("grade"))   # Safe access → None (avoids error if key missing)

Alice
None



---

Modifying Dictionaries : -

In [36]:
student = {"name": "Alice", "age": 20}

# Adding a new key-value pair
student["grade"] = "A"

# Updating an existing value
student["age"] = 21

# Updating multiple items
student.update({"age": 22, "city": "Paris"})
print(student)

{'name': 'Alice', 'age': 22, 'grade': 'A', 'city': 'Paris'}



---

Deleting Elements : -

In [37]:
student = {"name": "Alice", "age": 20, "grade": "A"}

del student["grade"]        # Deletes a key-value pair
student.pop("age")          # Removes key and returns its value
student.clear()             # Removes all items
print(student)

{}



---

Dictionary Operation Tables : -

| **Operation**         | **Example**             | **Output**                         |
| --------------------- | ----------------------- | ---------------------------------- |
| **Length**            | `len(d)`                | Number of key-value pairs          |
| **Membership**        | `'name' in d`           | True if key exists                 |
| **Iteration (Keys)**  | `for k in d:`           | Loops through keys                 |
| **Iteration (Items)** | `for k,v in d.items():` | Loops through key-value pairs      |
| **Copy**              | `d.copy()`              | Returns a shallow copy             |
| **Merging**           | `d1.update(d2)`         | Adds all key-value pairs from `d2` |



---

Dictionary Methods Table : -

| **Method**                 | **Description**                                       |
| -------------------------- | ----------------------------------------------------- |
| `keys()`                   | Returns all keys.                                     |
| `values()`                 | Returns all values.                                   |
| `items()`                  | Returns list of `(key, value)` pairs.                 |
| `get(key, default)`        | Returns value or default if key not found.            |
| `pop(key)`                 | Removes and returns value of the key.                 |
| `popitem()`                | Removes and returns last inserted item.               |
| `update(d2)`               | Adds/updates key-value pairs from another dictionary. |
| `setdefault(key, default)` | Adds key with default if not present.                 |
| `clear()`                  | Removes all elements from the dictionary.             |
| `fromkeys(keys, value)`    | Creates a new dictionary from keys with same value.   |



---

Dictionary Comprehension : -

* Like List Comprehension , dictionaries can be created in one line :

In [38]:
squares = {x: x**2 for x in range(5)}
print(squares)  # {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}



---

Nested Dictionaries : -

In [39]:
students = {
    "S1": {"name": "Alice", "marks": 85},
    "S2": {"name": "Bob", "marks": 90}
}

print(students["S2"]["name"])  # Bob

# Python code for Nested Dictionary Comprehension :

# Dictionary with square values for each pair
squares = {i: {j: j**2 for j in range(1, 4)} for i in range(1, 3)}
print(squares)

Bob
{1: {1: 1, 2: 4, 3: 9}, 2: {1: 1, 2: 4, 3: 9}}



---

Dictionaries Summary : -

| **Parameter**     | **Dictionary**                   |
| ----------------- | -------------------------------- |
| **Data Type**     | Mutable, key-value pairs         |
| **Keys**          | Must be unique, immutable        |
| **Values**        | Can be duplicated, any data type |
| **Access**        | By key only                      |
| **Duplicates**    | Keys not allowed, values allowed |
| **Comprehension** | Supported                        |
| **Performance**   | Fast lookup using hash mapping   |



---